<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @wo_d.Name %>
</p>

<p>
  <b>Timeneeded:</b>
  <%= @wo_d.TimeNeeded %>
</p>

<p>
  <b>Numberofdaysperweek:</b>
  <%= @wo_d.NumberOfDaysPerWeek %>
</p>

<p>
  <b>Numberofexercises:</b>
  <%= @wo_d.NumberOfExercises %>
</p>


<%= link_to 'Edit', edit_wo_d_path(@wo_d) %> |
<%= link_to 'Back', wo_ds_path %>
