<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.Name %>
</p>

<p>
  <b>Dateofbirth:</b>
  <%= @person.DateOfBirth %>
</p>

<p>
  <b>Sex:</b>
  <%= @person.Sex %>
</p>

<p>
  <b>Address:</b>
  <%= @person.Address %>
</p>

<p>
  <b>Height:</b>
  <%= @person.Height %>
</p>

<p>
  <b>Weight:</b>
  <%= @person.Weight %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
