<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gymnasium.name %>
</p>

<p>
  <b>Street address:</b>
  <%= @gymnasium.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @gymnasium.city %>
</p>

<p>
  <b>Country:</b>
  <%= @gymnasium.country %>
</p>


<%= link_to 'Edit', edit_gymnasium_path(@gymnasium) %> |
<%= link_to 'Back', gymnasia_path %>
