<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gymnasium.Name %>
</p>

<p>
  <b>Streetaddress:</b>
  <%= @gymnasium.StreetAddress %>
</p>

<p>
  <b>City:</b>
  <%= @gymnasium.City %>
</p>


<%= link_to 'Edit', edit_gymnasium_path(@gymnasium) %> |
<%= link_to 'Back', gymnasia_path %>
