<p id="notice"><%= notice %></p>

<p>
  <b> name:</b>
  <%= @wod. Name %>
</p>

<p>
  <b>Repetitions:</b>
  <%= @wod.Repetitions %>
</p>

<p>
  <b>Weightamount:</b>
  <%= @wod.WeightAmount %>
</p>

<p>
  <b>Timealotted:</b>
  <%= @wod.TimeAlotted %>
</p>

<p>
  <b>Numberofdaysperweek:</b>
  <%= @wod.NumberOfDaysPerWeek %>
</p>


<%= link_to 'Edit', edit_wod_path(@wod) %> |
<%= link_to 'Back', wods_path %>
