<h1>Listing personal_wods</h1>

<table>
  <tr>
    <th> name</th>
    <th>Repetitions</th>
    <th>Weightamount</th>
    <th>Timetaken</th>
    <th>Numberofdaysperweek</th>
    <th>Personalbest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personal_wods.each do |personal_wod| %>
  <tr>
    <td><%= personal_wod. Name %></td>
    <td><%= personal_wod.Repetitions %></td>
    <td><%= personal_wod.WeightAmount %></td>
    <td><%= personal_wod.TimeTaken %></td>
    <td><%= personal_wod.NumberOfDaysPerWeek %></td>
    <td><%= personal_wod.PersonalBest %></td>
    <td><%= link_to 'Show', personal_wod %></td>
    <td><%= link_to 'Edit', edit_personal_wod_path(personal_wod) %></td>
    <td><%= link_to 'Destroy', personal_wod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personal wod', new_personal_wod_path %>
