<p id="notice"><%= notice %></p>

<p>
  <b> name:</b>
  <%= @personal_wod. Name %>
</p>

<p>
  <b>Repetitions:</b>
  <%= @personal_wod.Repetitions %>
</p>

<p>
  <b>Weightamount:</b>
  <%= @personal_wod.WeightAmount %>
</p>

<p>
  <b>Timetaken:</b>
  <%= @personal_wod.TimeTaken %>
</p>

<p>
  <b>Numberofdaysperweek:</b>
  <%= @personal_wod.NumberOfDaysPerWeek %>
</p>

<p>
  <b>Personalbest:</b>
  <%= @personal_wod.PersonalBest %>
</p>


<%= link_to 'Edit', edit_personal_wod_path(@personal_wod) %> |
<%= link_to 'Back', personal_wods_path %>
